# We will ignore build folder
simple_code/build/
simple_code/gradle/
simple_code/.idea/
simple_code/.gradle/
oop_code/build/
oop_code/gradle/
oop_code/.idea/
oop_code/.gradle/
oop_inheritance/build/
oop_inheritance/gradle/
oop_inheritance/.idea/
oop_inheritance/.gradle/
oop_abstract/build/
oop_abstract/gradle/
oop_abstract/.idea/
oop_abstract/.gradle/